<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>


    <h1>アラハBBQ WEB予約受付開始のお知らせ</h1>
    <p>時下、ますますご清祥の段、お喜びのことと申し上げます。平素は当ビーチをご利用頂き誠に感謝申し上げます。</p>
    <p>さてこの度、当ビーチ予約受付サービスについて、ご利用者から以下のお声を頂き、さっそくWEB予約を開始しましたので、是非ご利用ください。</p>
    <h2>予約は<a href="/form">こちら</a></h2>
    <br>
    <h3>ご利用者から頂いた声</h3>
    <ui>
      <li>いつ電話しても２コールぐらいで「当ビーチ対応時間は10時〜17時までとなっており・・・」のアナウンスが流れ、連絡できない。</li>
      <li>電話で空き状況は確認できても、予約はペーパーのみ。</li>
    </ui>

  </body>
</html>
